.boxed-view {
  align-items: center;
  background: $boxed-view-bg;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;

  &__box {
    background-color: $boxed-view-box-bg;
    border-radius: 3px;
    padding: 2.4rem;
    text-align: center;
    width: 24rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }
}